{
   "packages/client/src/**/*.{js,jsx,ts,tsx}": [
      "prettier --write",
      "cd packages/client && bunx eslint --fix"
   ],
   "packages/server/**/*.{js,ts}": ["prettier --write"],
   "*.{json,md,css,scss}": ["prettier --write"]
}
